ul {
    display: flex; 
    list-style: none;
    gap: 20px;
}


header {
    background-color: black;
    margin: 0;
    padding: 10px 20px; /* Optional: add some internal spacing */
    width: 100%;
    box-sizing: border-box;
}

/* Specifically for navigation links */
header nav a {
    color: white;
    text-decoration: none;
    display: flex;
    list-style: none;
    gap: 20px;
}

header nav a:hover {
    color: #e86060; /* Light gray on hover for interaction feedback */
}

/* Remove margin from body if header is sticking to edges */
body {
    margin: 0;
    padding: 0;
}

h1{
    font-size: 130px;
    margin-left: 4%;
    margin-top: 20px;
    margin-bottom: 20px;
}

section div{
    font-size: 30px;
    margin-left: 4%;
}

img{
    width: 35%;
    display: flexbox;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (max-width:1400px) {
    h1 {
        font-size: 90px;
        color:aqua;
    }

    section {
        font-size: 25px;
    }

    img {
        width: 40%;
    }
}

@media (max-width:500px) {
    h1 {
        font-size: 60px;
        color: maroon;
    }

    section {
        font-size: 20px;
    }

    img {
        width: 30%;
    }
}